
.ConcurrencyError 
{
    color: Red;
    margin-bottom: 1.6rem;
    margin-left: 2.4rem;
    display: block;
}

/* ----------------------------------------- */

fieldset.main
{
    margin: 1.5rem 0 0 1.5rem;
    padding: 2rem 0 0 0;
    width: 70rem;
    font-size: 1.4rem;
    border: 1px solid #333333;
    background: White;
}

fieldset.main legend
{  
    margin-left: 1rem;  
    color: #000000;  
    font-weight: bold;    
}

fieldset.main ol 
{  
    padding: 1rem 1rem 0 1rem;  
    list-style: none;
}

fieldset.main li 
{  
    padding-bottom: .5rem;
}

fieldset.main ol li label 
{  
    float: left;
    width: 18rem;        
    margin-right: 1rem;
}

/* ----------------------------------------- */

fieldset.nested
{
    margin: 0 0 1rem 1rem;
    padding: 0;
    width: 67.5rem; /* 25 px less than width of fieldset.main. */
    font-size: 1.4rem;
    border: 1px solid gray;
    background: #DFDFDF;
}

fieldset.nested legend
{
    margin-left: 1rem;
    font-weight: 800;
    font-size: 1.1rem;
    color: #333333;
    background-color: #C0C0C0;
    padding: 2px 1rem 2px 1rem; 
    border: 1px solid #999999;
}

fieldset.nested ol 
{  
    padding: 0 1rem 0 1rem;  
    list-style: none;
}

fieldset.nested li:first-child
{  
    /* Control leading between rows. */
    padding-top: 1rem;
    padding-bottom: .7rem;
}

fieldset.nested li 
{  
    /* Control leading between rows. */
    padding-bottom: .7rem;
}

fieldset.nested ol li label 
{  
    float: left;
    width: 14rem;        
    margin-right: 1rem;
}

/* ----------------------------------------- */

input.actionButton
{                                  
    /* border-style: none; */
    width: 6rem;
    height: 2.5rem;
}

div.buttonsContainer
{
    float: right;
    margin: 0 1.5rem 1rem 0;
}

/* ----------------------------------------- */

.small-width
{
    width: 5rem;
}

.medium-width
{
    width: 14rem;
}

.large-width
{
    width: 30rem;
}

.errorValidator
{
    display:block;
}

.panelError
{
    display:block;
    margin-left: 1rem;
    font-size: .9rem;
    color: red;
}

.errorMessage 
{
    margin-left: 1rem;
    color: red;
    display: inline-block;
    background-color: white;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.errorMessageServer
{
    margin-left: 1rem;
    color: red;
    background-color: white;
    display: inline-block;
    padding-top: .3rem;
    padding-bottom: .3rem;
}